.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.rContainer {
  background-color: #f8f8f8; 
  padding: 40px; 
  position: relative;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
}

.rClose {
  position: absolute;
  top: 20px; 
  right: 20px; 
  cursor: pointer;
  font-size: 18px; 
  color: #333; 
}

.rItem {
  display: flex;
  align-items: center;
  gap: 80px; 
  padding: 40px; 
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.rTitle {
  font-weight: 600;
  font-size: 24px;
}

.rDesc {
  font-weight: 400; 
  font-size: 14px; 
  color: #666; 
}

.rMax {
  font-size: 12px;
  color: #666; 
}

.rPrice {
  font-weight: 600;
  font-size: 18px;
  color: #0071c2; 
}

.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 12px;
  color: #666;
}

.room{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.rButton {
border: none;
padding: 10px 20px;
background-color: #0071c2;
color: white;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
width: 100%;
margin-top: 20px;
transition: all 0.2s ease-in-out; 
}

.rButton:hover {
background-color: #005a9c;

}