.navbar {
  height: 50px;
  background-color: #004280;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 2px #000000;
  position: relative;
  z-index: 1;
  }
  
  .navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .logo {
  font-size: 200%;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  }
  
  .navButton {
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #0071c2;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  }
  
  .navButton:hover {
  background-color: #004c91;
  }
  
  .navButton:active {
  transform: translateY(3px);
  }
  
  .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .navbar {
  position: relative;
  z-index: 1;
  }
  .navContainer{
  display: flex;
  align-items: center;
  }
  .navbar {
  display: flex;
  justify-content: center;
  }
  .navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }